* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.header {
	min-height: 20%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.no-padding {
	padding: 0px;
}